html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #7474BF;
    background: linear-gradient(to left, #99d0ef , #ead3ad);
    background-repeat: repeat;
}

p {
    color: #eceff1;
}

.header {
    text-align: center;
    padding: 1rem;
    min-height: 8rem;
    background-color: #00695C;
}

.header h1 {
    margin: 1rem;
    font-family: 'Indie Flower', cursive;
    font-size: 5rem;
    font-weight: 800;
    color: #eceff1;
}

.header .corner-header {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    font-weight: 400;
    color: #eceff1;
    float: right;
    margin: 0;
}

.user-name {
    float: left;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 20px;
}

.clickable {
    background: none;
    border: none;
    line-height: 20px;
    cursor: pointer;
}

#log-out {
    display: block;
    clear: left;
    text-align: left;
    text-decoration: underline;
}

#container-forms {
    margin-top: 4rem;
    background-color: #eceff1;
    padding: 3rem;
    border-radius: 1rem;
    width: 80%;
    height: auto;
    box-shadow: 0 3px 10px grey;
}

.btn-form {
    background-color: #607D8B;
    display: block;
    width: 60%;
    margin: 2rem auto;
    font-size: 1.5rem;
    line-height: 0;
    padding: 2rem 1rem;
}

#btn-sign-up {
    margin-top: 2rem;
}

.file-field {
    padding: 0 10px;
    width: 140px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
}

#container-sign-up-options {
    display: none;
    margin-bottom: 20px;
}

#form-profile-photo {
    margin-bottom: 0;
}

.photo-container {
    border-radius: 50%;
    border: 1px solid #9E9E9E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9E9E9E;
    overflow: hidden;
}

.profile-photo {
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.user-photo-container {
    width: 80px;
    height: 80px;
    float: left;
}

#container-user-name {
    height: 100px;
    float: left;
    padding-left: 1rem;
}

#container-profile-photo-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #9E9E9E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9E9E9E;
    line-height: 120px;
    overflow: hidden;
}



#profile-photo-preview {
    display: none;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#moments-container {
    margin-top: 30px;
    margin-bottom: 30%;
}

.moment-card {
    width: 100%;
}

.moment-text {
    width: 100%;
    min-height: 75px;
    padding-left: 90px;
}

.card-action {
    font-size: 1.5rem;
    color: #FF9800;
}

.moment-user-photo-container {
    float: left;
    width: 75px;
    height: 75px;
}

.like-count {
    margin-left: 0.5rem;
}

#new-moment-container {
    min-height: 15%;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    z-index: 1;
}

.input-card {
    box-shadow: 0 0 20px #2A2A2A;
    background-color: ghostwhite;
    margin: 0;
}

#new-moment {
    margin-bottom: 0;
}

#submit-new-moment {
    text-decoration: none;
}